.contact-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #262525;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  .contact-form div {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 1rem;
    color: #b9b9b9;
    margin-bottom: 5px;
  }
  
  .contact-form input[type="text"],
  .contact-form input[type="email"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #1f1e1e;
    color: white;
  }
  .contact-form input:hover{
    border: 1px solid #aeff00;
  }
  .contact-form input::placeholder {
    color: #f1f1f1;
  }
  
  .contact-form button {
    padding: 12px;
    background-color: #99ff0096;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #013369;
  }